@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Oxygen&family=Raleway:wght@400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

/* Header */
.header {
  height: 100vh;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2rem;
  background-color: rgb(0, 0, 0);
}
.nav__logo {
  display: inline-block;
  height: 70%;
}
.nav__logo img {
  height: 100%;
}
.nav__links {
  display: flex;
}
.nav__item {
  padding: 5px 10px;
}

.header__content {
  display: flex;
  align-items: center;
  height: 90vh;
}
.header__content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.header__content h1 span {
  font-weight: 900;
}
.header__content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
