@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lora', serif;
  /* letter-spacing: 1.1px; */
  /* line-height: 1.2; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
}

h2 {
  color: #f39c12;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 1.1px;
  margin-bottom: 60px;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.section__title {
  text-align: center;
}

.p-100 {
  padding: 100px 0;
}

/* Header */
.header {
  height: 100vh;
  background: url(img/background.jpg);
  background-position: center;
  background-size: cover;
  color: #ecf0f1;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2rem;
  background-color: rgb(0, 0, 0);
}
.nav__logo {
  display: inline-block;
  height: 70%;
}
.nav__logo img {
  height: 100%;
}
.nav__links {
  display: flex;
}
.nav__item {
  padding: 5px 10px;
}

.header__content {
  display: flex;
  align-items: center;
  height: 90vh;
}
.header__content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.header__content h1 span {
  font-weight: 900;
}
.header__content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* Section 1 */
#section--1 .about {
  display: flex;
  justify-content: space-between;
}
#section--1 .about > * {
  width: 45%;
}
.about__header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.about__intro p {
  line-height: 1.5;
}
.about__skills ul {
  display: flex;
  flex-wrap: wrap;
}
.about__skills li {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #ecf0f1;
  border-radius: 5px;
}

/* Section 2 */
#section--2 {
  background: #ecf0f1;
}
.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.works__work {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
}
.works__title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.works__description {
  margin-bottom: 20px;
}
.works__btns button {
  font-family: 'Lora', serif;

  width: 140px;
  color: #ffffff;
  font-size: 1rem;
  display: inline-block;
  padding: 8px 10px;
  background: #f39c12;
  border: 2px solid #f39c12;
  cursor: pointer;
}
.works__btns button:hover {
  background: #ffffff;
  border: 2px solid #f39c12;

  color: #000;
}
.works__btns > :nth-child(1) {
  margin-bottom: 5px;
}

/* Section 3 */
#section--3 {
  color: #bdc3c7;
  background: #000;
}
#section--3 .section__header {
  color: #ecf0f1;
}
.contact {
  display: flex;
}
.contact > * {
  width: 50%;
}
.contact__info > div {
  margin-bottom: 30px;
}
.contact__info h5 {
  color: #ecf0f1;
  font-size: 1rem;
  margin-bottom: 5px;
}
.contact__form {
  display: inline-block;
}
.contact__form input,
.contact__form textarea {
  color: #000;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  background: #000;
}
input::placeholder,
textarea::placeholder {
  color: #bdc3c7;
  font-size: 1rem;
  font-family: 'Lora', serif;
}
.contact__form input:focus,
.contact__form textarea:focus {
  background: #ecf0f1;
}
.contact__form input {
  height: 2rem;
  margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 1080px) {
  /* Section 2 */
  .works {
    grid-template-columns: 1fr;
  }
  /* Section 3 */
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact > * {
    width: 100%;
  }
  .contact > :nth-child(1) {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* Section 1 */
  #section--1 .about {
    flex-direction: column;
    align-items: center;
  }
  #section--1 .about > * {
    width: 100%;
  }
  .about__intro {
    margin-bottom: 30px;
  }
}
