@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lora', serif;
  /* letter-spacing: 1.1px; */
  /* line-height: 1.2; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
}

h2 {
  color: #f39c12;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
}

h3 {
  font-size: 2.25rem;
  letter-spacing: 1.1px;
  margin-bottom: 60px;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.section__title {
  text-align: center;
}

.p-100 {
  padding: 100px 0;
}

/* Header */
.header {
  height: 100vh;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2rem;
  background-color: rgb(0, 0, 0);
}
.nav__logo {
  display: inline-block;
  height: 70%;
}
.nav__logo img {
  height: 100%;
}
.nav__links {
  display: flex;
}
.nav__item {
  padding: 5px 10px;
}

.header__content {
  display: flex;
  align-items: center;
  height: 90vh;
}
.header__content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.header__content h1 span {
  font-weight: 900;
}
.header__content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* Section 1 */
#section--1 .about {
  display: flex;
  justify-content: space-between;
}
.about__header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.about__intro {
  width: 45%;
}
.about__intro p {
  line-height: 1.5;
}
.about__skills {
  width: 45%;
}
.about__skills ul {
  display: flex;
  flex-wrap: wrap;
}
.about__skills li {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #ecf0f1;
  border-radius: 5px;
}

/* Section 2 */
#section--2 {
  background: #ecf0f1;
}
.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.works__work {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
}
.works__title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.works__description {
  margin-bottom: 20px;
}
.works__btns button {
  font-family: 'Lora', serif;

  width: 140px;
  color: #ffffff;
  font-size: 1rem;
  display: inline-block;
  padding: 8px 10px;
  background: #f39c12;
  border: 2px solid #f39c12;
  border-radius: 5px;
  cursor: pointer;
}
.works__btns button:hover {
  background: #ffffff;
  border: 2px solid #f39c12;

  color: #000;
}
